<span [ngSwitch]="alerta">

    <div *ngSwitchCase="'success'">
        success
    </div>
    <div *ngSwitchCase="'info'">
        info
    </div>
    <div *ngSwitchCase="'warning'">
        info
    </div>
    <div *ngSwitchDefault>
        danger
    </div>
</span>

<hr>
<div [ngSwitch]="alerta">
    <div *ngSwitchCase="'info'" class="alert alert-primary" role="alert">
        A simple primary alert—check it out!
    </div>
    <div  *ngSwitchCase="'secondary'" class="alert alert-secondary" role="alert">
        A simple secondary alert—check it out!
    </div>
    <div *ngSwitchCase="'success'" class="alert alert-success" role="alert">
        A simple success alert—check it out!
    </div>
    <div *ngSwitchCase="'danger'" class="alert alert-danger" role="alert">
        A simple danger alert—check it out!
    </div>
</div>