<app-navbar></app-navbar>
<div class="container main-container">

    <h1>Demo <small>Angular</small></h1>
    <hr>

    <!-- <app-ng-style></app-ng-style> -->

    <!-- <app-css></app-css>

    <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque sapiente similique repudiandae accusamus architecto. Eos obcaecati tempora voluptatum deserunt atque, repellat corrupti animi eveniet, ducimus possimus magni sit nisi molestiae.</p> -->
        <!-- <app-clases></app-clases> -->

        <!-- <p [appResaltado]="'orange'">
            Hola Mundo
        </p> -->

        <!-- <app-ng-switch></app-ng-switch> -->

    <router-outlet></router-outlet>

</div>